* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #5c1c2c;
}

body {
  background-color: #70425a;
}

main {
  height: 100vh;
}

p {
  color: white;
  font-size: 14px;
}

nav {
  background: linear-gradient(0.30turn, #ab4e52, #a76671, #e0b8ba, #70425a);
  height: 100 px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.dashboard {
  background-color: #e0b8ba;
  padding: 25px;
  height: 100%;
  width: 100%;
}

.calendar-search {
  background-color: #68323b;
  height: 16vh;
  width: 17vw;
  border-radius: 5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.customer-bookings-section {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 500px;
  background-color: white;
  overflow: auto;
}




.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.card-container {
  background-color: white;
  overflow: auto;
  height: 500px;
  margin: 10px;
  border-radius: 10px;
}

.card {
  width: 300px;
  margin: 5px;
  padding: 5px;
  border-radius: 7px;
  background-color: #68323b;
}

.card p {
  margin: 3px;  
}