* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #5c1c2c;
}

body {
  background-color: #70425a;
}

main {
  height: 100vh;
}

p {
  color: white;
  font-size: 14px;
}

nav {
  background: linear-gradient(0.30turn, #ab4e52, #a76671, #e0b8ba, #70425a);
  height: 100 px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.dashboard {
  background-color: #e0b8ba;
  padding: 25px;
  height: 100%;
  width: 100%;
  display: flex;
}

.calendar-search {
  background-color: #a76671;
  height: 16vh;
  width: 17vw;
  border-radius: 5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.customer-bookings-section {
  display: flex;
  flex-wrap: wrap;
}

.customer-bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 16vh;
  width: 16vw;
  margin: 5px;
  border-radius: .5em;
  background-color: #a76671;
}

.available-room-display {
  display: flex;
}
.available-rooms {
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 16vh;
  width: 16vw;
  margin: 5px;
  border-radius: 0.5em;
  background-color: #3682a0;
  flex-wrap: wrap;
  align-content: center;
}

.hidden {
  display: none;
}